body{
    background-image: url(assets/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    backdrop-filter: blur(8px); 
    background-color: hsla(0, 0%, 100%, 0.04); 
  }
.horizontal-line{
    position: absolute;
    width: 502px !important;
    height: 0.1mm;
    background-color: #97979759;
    left: 158px;
}
.horizontal-line-two{
    position: absolute;
    width: 25px !important;
    height: 0.1mm;
    background-color: #97979759;
    left: 0px;
}
.navbar-brand{
color: white !important;
font-family: 'Barlow Condensed', sans-serif;
}
.hLine{
    display: flex;
    align-items: center;
}
.textContainer{
    display: flex;
    justify-content: space-evenly;
    margin: 10px !important;
}
.shared-logo{
    display: flex;
    align-items: center;
}

.tP{
    margin-top: 40px !important;
    margin-left: 60px !important;

}
.thin-text{
    font-weight: 100px !important;
}
.explore{
    float: right;
    margin-right: 187px;
    margin-top: 317px;
}
.exploreButon{
    width: 200px;
    height: 200px;
    border-radius: 98px;
    border-color: white;
    font-size: 28px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bolder;
}
.space{
    color: white;
    margin-left: 55px;
    margin-top: 176px;
}

@media (min-width: 1200px) and (max-width: 1500px) { 
    .p1{
        font-size: 28px; height: 5px; letter-spacing: 2px;font-family: 'Barlow Condensed', sans-serif;
    }
    .p2{
        font-size: 135px;height: 181px;letter-spacing: 2px;font-family: 'Bellefair', serif;
    }
    .p3{
        font-size: 15px; font-family: 'Barlow', sans-serif;
    }
}


@media (min-width: 768px) and (max-width: 1200px) { 
.space{
    width: 400px;
    font-size: 15px;
}
 }

